.landing-s{
    display: grid;
    grid-template-areas: "ls-l ls-r";
    padding: 4.167vw 8.229vw 7.813vw;
    align-items: center;
    .ls-l{
        grid-area: "ls-l";
        margin-right: 8.073vw;
        .p-head{
            margin-bottom: 1.563vw;
        }
        .p-para{
            margin-bottom: 2.865vw;
        }
    }
    .ls-r{
        grid-area: "ls-r";
        img{
            width: 30.26vw;
            height: 43.958vw;
        }
    }
}
.steps{
    padding: 0 8.203vw 7.813vw;
    .steps-con{
        display: flex;
        justify-content: space-between;
    }
    .s-head{
        text-align: center;
    }
    .step-card-invert{
        width: 23.438vw;
        height: 23.438vw;
        border-radius: $radius-l;
        background-color: $lightgreen;
    }
    .step-card{
        width: 23.438vw;
        height: 23.438vw;
        margin-left:-22.656vw;
        margin-top:0.781vw;
        border-radius: $radius-l;
        padding: 1.25vw 2.2vw 0 1.25vw;
        border: 0.26vw solid $darkgreen;
        .sc-uc{
            display: flex;
            .sc-stage{
                background-color: $darkgreen;
                color: $white;
                border-radius: 0.521vw;
                width: 3.906vw;
                height: 3.906vw;
                display: flex;
                align-items: center;
                justify-content: center;
                font:normal normal normal 2.5vw/2.5vw $OpenSans;
            }
            .sc-img{
                margin-left: 3.125vw;
                margin-top: 3.646vw;
                margin-bottom: 1.042vw;
                img{
                    width: 5.33vw;
                    height: 5.208vw;
                }
            }
        }
        .t-head{
            text-align: center;
            color: $darkgreen;
            font-weight: bold;
        }
        .s-para{
            margin:0 0 0.182vw;
        }
    }
}
.whyai{
    padding: 0 9.896vw 7.813vw;
    .wy-h{
        font:normal normal normal 3.333vw/4.531vw $OpenSans;
        margin: 0;
    }
    .wy-l{
        margin-top: -0.781vw;
        margin-bottom: 1.823vw;
    }
    .msol{
        display: flex;
        margin-bottom: 6.771vw;
        .msol-l{
            border-bottom: 0.26vw solid $gold;
            width: 30.782vw;
        }
        .msol-lc{
            margin-top: 3.438vw;
        }
        img{
            width: 30.208vw;
            height: 19.479vw;
            margin-left: 13.125vw;
        }
    }
    .dsdp{
        display: flex;
        margin-bottom: 6.771vw;
        .dsdp-l{
            border-bottom: 0.26vw solid $voilet;
            width: 39.063vw;
        }
        .dsdp-rc{
            margin-top: 5.729vw;
        }
        img{
            width: 22.917vw;
            height: 33.802vw;
            margin-right: 12.552vw;
            margin-left: 2.344vw;
        }
    }
    .tmle{
        display: flex;
        .tmle-l{
            border-bottom: 0.26vw solid $neongreen;
            width: 13.021vw;
        }
        .tmle-lc{
            margin-top: 3.646vw;
        }
        img{
            width: 32.813vw;
            height: 25.052vw;
            margin-left: 9.063vw;
        }
    }
}
.contact{
    margin-bottom: 7.813vw;
    font:normal normal normal 1.25vw/1.719vw $OpenSans;
    .link-con{
        display: flex;
        align-items: center;
    }
    .loc{
        margin-right: 10.365vw;
        margin-left: 1.563vw;
        img{
            width: 1.844vw;
            height: 2.604vw;
            margin-bottom: 1.302vw;
        }
    }
    .phone{
        margin-right: 7.917vw;
        img{
            width: 2.615vw;
            height: 2.604vw;
            margin-bottom: 1.302vw;
        }
    }
    .mail{
        img{
            width: 3.472vw;
            height: 2.604vw;
            margin-bottom: 1.302vw;
        }
    }
    .contact-form{
        padding: 5.208vw 3.125vw;
        background-color: $lightgreen;
        border-radius: $radius-l;
        margin-top: 5.208vw;
        width: 52.083vw;
        height: 41.667vw;
        .cf-uc{
            display: flex;
            margin-bottom: 4.688vw;
        }
        .cf-lc{
            margin-right: 3.542vw;
        }
        .cf-input{
            margin-bottom: 1.563vw;
            &:last-child{
                margin-bottom: 0;
            }
            .i-label{
                margin-bottom: 0.521vw;
            }
            .i-field{
                width: 20.833vw;
                height: 4.167vw;
                border-radius: 0.521vw;
                border: none;
                padding: 1.172vw 1.302vw 1.172vw 3.906vw;
                background-repeat: no-repeat;
                &:focus-visible{
                    outline-color: $darkgreen;
                }
            }
            .n-fd{
                background-image: url("../assets/images/person.svg");
                background-size: 1.302vw 1.563vw;
                background-position: 1.302vw 1.172vw;
            }
            .m-fd{
                background-image: url("../assets/images/mail.svg");
                background-size: 1.302vw 0.977vw;
                background-position: 1.302vw 1.602vw;
            }
            .p-fd{
                background-image: url("../assets/images/phone.svg");
                background-size: 1.302vw 1.297vw;
                background-position: 1.302vw 1.432vw;
            }
            .ta-field{
                width: 20.833vw;
                height: 20vw;
                border-radius: 0.521vw;
                border: none;
                padding: 1.172vw 1.302vw;
            }
        }
        .sm-btn{
            padding: 1.224vw 6.25vw;
            background-color: $darkgreen;
            border-radius: 0.521vw;
            border: 0;
            color: $white;
        }
    }
}
.footer-h{
    background-color: $darkgreen;
    color: $white;
    padding: 4.688vw 10.417vw 0.781vw;
    font:normal normal normal 1.25vw/1.719vw $OpenSans;
    .ft-uc{
        display: flex;
        justify-content: space-between;
        margin-bottom: 15.625vw;
    }
    .ft-bc{
        text-align: center;
    }
    .ft-lc{
        img{
            width: 10.938vw;
            height: 3.906vw;
            margin-bottom: 1.042vw;
        }
    }
    .ft-socials{
        display: flex;
        img{
            width: 1.563vw;
            height: 1.563vw;
            margin-right: 2.083vw;
            margin-bottom: 1.563vw;
        }
    }
}