.navbar-h{
    display: flex;
    justify-content: space-between;
    padding: 0.651vw 4.167vw;
    box-shadow: 0vw 0.208vw 0.208vw rgba(0, 0, 0, 0.25);
    align-items: center;
    .n-logo{
        img{
            width: 10.677vw;
            height: 3.906vw;
        }
    }
    .n-btn{
        padding: 0 0.391vw;
    }
    button{
        padding: 0.703vw 2.031vw;
        background: #0FA54A;
        border-radius: 0.521vw;
        color: #fff;
        border: none;
        font-family: $OpenSans;
        font-size: 1.25vw;
        line-height: 1.719vw;
    }
}
.navbar-s{
    position: fixed;
    z-index: 10;
}